.App {
  text-align: center;
  
}
.box{
  width:100wh;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
 
  margin:100px ;

}
.cart {
  border: 5px;
  border-radius: 5px;
  background-color: aqua;
  height: 250px;
  width:200px;
  display:grid;
  text-align: center;
}

